.pageHeader{
    z-index: 30;
    overflow: hidden;
    position: fixed;
    width: 100%;
    font-family: 'Montserrat';
    background: #10877A;
    top: 0;
    left: 0;
    .row{
        align-items: center;
    }
    button{
        border: 0px;
        color: #FFFFFF;
        background: #ACD15D;
        border-radius: 50px;
        height: 50px;
        width: 232px;
        opacity: 1;
        transition: 0.4s ease all;
        &:hover{
            opacity: 0.8;
        }
    }
    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;
        opacity: 1;
        transition: 0.4s ease all;
        &:hover{
            opacity: 0.8;
        }
    }
    .col-menu {
        margin-left: auto;
        a {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .col-logo{
        img{
            width: 120px;
            height: 120px;
        }
    }
    .col-menu{
        align-content: center;
    }
    .col-lang-switcher{
        padding-left: 30px;
        select{
            -webkit-appearance: button;
            border:0px;
            outline:0px;
            background: #10877A;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #FFFFFF;
            border-color: #10877A;
        }
    }
    .navBar{
        z-index: 40;
    }
    .current-language{
        position: relative;
        .triangle-button{
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #FFFFFF;
            position: absolute;
            top: 8px;
            right: -11px;
            transition: 0.1s ease all;
        }
    }
}
