@import "header";
@import "typography";

* {
    margin: 0;
    padding: 0;
}

.wrap{
    max-width: calc(1204px + 10%);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.firstSection{
    overflow: hidden;
    padding-bottom: 135px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #10877A;
    h1{
        width: 445px;
        height: 224px;
        left: 123px;
        top: 215px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
        color: #FFFFFF;
    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #FFFFFF;
        width: 454px;
        height: 72px;
        left: 123px;
        top: 459px;
    }
    .download {
        width: 313px;
        height: 50px;
        left: 123px;
        top: 575px;
        border: 0;
        background: #FFFFFF;
        border-radius: 50px;
    }
    .mainImg{
        width: 973px;
        height: 561px;
        left: 720px;
        top: 132px;
        border-radius: 368.5px;
    }
    h1{
        font-weight: bold;   
    }
    .col-image{
        width: 50%;

        position: relative;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        .recycle-logo{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .background-img{
            width: 50vw;
            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }
    }
    .col-text{
        width: 50%;
        padding-right: 143px;
        align-self: center;
        padding-top: 20px;
        @media screen and (max-width: 1200px) {
            width: 100%;
            padding-bottom: 30px;
        }
    }
    .download-button{
        width: 313px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 50px;
        border: 0;
        color: #10877A;
        padding: 10px 47px;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        opacity: 1;
        transition: 0.4s ease all;
        margin-top: 30px;
        img{
            padding-left: 51px;
        }
        &:hover{
            opacity: 0.8;
        }
        
    }
}
.secondSection{
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(16, 135, 122, 0.04);

}