@import "header";
@import "typography";
@import "bloki/firstSection";
@import "bloki/secondSection";
@import "bloki/thirdSection";
@import "bloki/fourthSection";
@import "bloki/fifthSection";
@import "bloki/sixthSection";
@import "bloki/footer";
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.wrap{
    max-width: calc(1204px + 10%);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.line{
    width: 100%;
    border: 0.5px solid rgba(0, 75, 35, 0.2);
}
