.firstSection{
    position: relative;
    padding-bottom: 135px;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: #10877A;
    z-index: 5;
    .swiper-button-next{
        margin-right: 125px;
        top: calc(100% - 68px);
        &::after{
            display: none;
        }

    }
    .swiper-button-prev{
        margin-left: calc(100% - (190px + 29px));
        transform: rotate(180deg);
        top: calc(100% - 68px);
        &::after{
            display: none;
        }
    }
    .row {
        width: calc(100% + ((100vw - 100%) / 2));
    }
    .swiper-slide {    
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }
    .background-image{
        z-index: 1;
        position: absolute;
        top: -12%;
        left: 20%;
        width: 50vw;
    }
    h1{
        width: 445px;
        height: 224px;
        left: 123px;
        top: 215px;
        font-weight: bold;  
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
        color: #FFFFFF;
        @media screen and (max-width: 500px){
            font-size: 40px;
            width: 100%;
            height: 100%;
        }
    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #FFFFFF;
        width: 454px;
        height: 72px;
        left: 123px;
        top: 459px;
        @media screen and (max-width: 500px){
            width: 100%;
            height: 100%;
        }
    }
    .download {
        width: 313px;
        height: 50px;
        left: 123px;
        top: 575px;
        border: 0;
        background: #FFFFFF;
        border-radius: 50px;
    }
    .mainImg{
        width: 973px;
        height: 561px;
        left: 720px;
        top: 132px;
        border-radius: 368.5px;
    }
    .col-image{
        width: 50%;
        position: relative;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        .recycle-logo{
            @media screen and (max-width: 800px) {
                height: 25vw;
                width: 25vw;
            }
            position: absolute;
            z-index: 4;
            bottom: 14px;
            left: 20px;
            #middle-dot{
                transform-origin: 50% 50%;
            }
            #arrow1{
                transform-origin: 50% 50%;
            }
            #arrow2{
                transform-origin: 50% 50%;
            }
            #arrow3{
                transform-origin: 50% 50%;
            }
        }
        .background-img{
            overflow: visible;
            height: 100%;
            width: 50vw;
            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }
    }
    .col-text{
        width: 40%;
        padding-right: 143px;
        align-self: center;
        padding-top: 20px;
        @media screen and (max-width: 1200px) {
            width: 100%;
            padding-bottom: 30px;
            padding-right: 0;
        }
    }
    .download-button{
        text-decoration: none;
        cursor: pointer;
        z-index: 2;
        position: relative;
        width: 313px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 50px;
        border: 0;
        color: #10877A;
        padding: 10px 47px;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        opacity: 1;
        transition: 0.4s ease all;
        margin-top: 30px;
        @media screen and (max-width: 368px){
            width: 270px;
        }
        img{
            padding-left: 51px;
            @media screen and (max-width: 368px) {
                padding-left: 21px;
            }
        }
        &:hover{
            opacity: 0.8;
        }
        span{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 30px;
            color: #10877A;

        }
        
    }
}