.fourthSection{
    width: 100%;
    background: rgba(172, 209, 93, 0.2);
    left: 0;
    top: 0;
    h1 {
        font-family: 'Fira Sans';
        padding-top: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 43px;
        line-height: 45px;
        color: #10877A;
    }
    .first-header-text-col{
        width: 50%;
    }
    .second-header-text-col{
        padding-top: 100px;
        width: 50%;
    }
}
