.fourthSection{
    padding-top: 80px;
    position: relative;
    .background-image{
        top: -30%;
        right: -30%;
        height: 130%;
        width: 100vw;
        position: absolute;
    }
    overflow: hidden;
    width: 100%;
    background: rgba(172, 209, 93, 0.2);
    left: 0;
    top: 0;
    h1 {
        font-family: 'Fira Sans';
        padding-top: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 43px;
        line-height: 45px;
        color: #10877A;
    }
    .picture-row{
        margin-bottom: -87px;
        padding-bottom: 153px;
        padding-top: 70px;
        display: flex;
        width: 100vw;
        margin-left: -50px;
        flex-wrap: nowrap;
        @media screen and (max-width: 1549px) {
            flex-wrap: wrap;
            width: 100%;
        }
        .col {
            position: relative;
            width: 25vw;
            padding-left: 50px;
            @media screen and (max-width: 1549px) {
                padding-bottom: 40px;
                width: 100%;
            }
            
            .image-c{
                padding-top: 206px;
                padding-right: 35px;
                padding-left: 46px;
                padding-bottom: 43px;
                position: relative;
                h3{
                    display: block;
                    min-height: 135px;
                    position: relative;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 34px;
                    line-height: 45px;
                    color: #FFFFFF;
                    @media screen and (max-width: 1549px) {
                        font-size: 30px;
                        line-height: 30px;
                    }
                    @media screen and (max-width: 1329px) {
                        font-size: 25px;
                    }
                }
                img{
                    border-radius: 0px 120px 0px 0px;
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .filter{
                    background: rgba(16, 135, 122, 0.4);
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 0px 120px 0px 0px;
                }
            }
        }
    }
    .first-header-text-col{
        width: 40%;
        @media screen and (max-width: 911px) {
            width: 100%;
        }
    }
    .second-header-text-col{
        padding-top: 80px;
        width: 60%;
        p{
            width: 70%;
        }
        @media screen and (max-width: 911px) {
            width: 100%;
            padding-top: 30px;
        }
    }
}
